<div class="info-container">
  <h1>Selected Stock: ALKALOID SKOPJE</h1>
  <h2>Current Price: 25.415 MKD</h2>
  <h2>All time high: 25.500 MKD</h2>
  <h2>Price increase from the last 3 months: <span style="color: green">11%</span></h2>
  <h2>Total revenue generated last month: 2.343.300 MKD</h2>
  <h2 style="color: cornflowerblue">Get Excel Spreadsheet</h2>

</div>


<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; display: block;">
</highcharts-chart>
