<div class="header">
  <h2>STOCKIFY</h2>
</div>

<div class="main">
  <div class="info">
    <h1>10 Years Of Stock Market Data In a <span class="highlight">Single Click</span></h1>
    <h2>No more hassling with brokers</h2>
    <p>Now, you can access organized, insightful information with a single click. The app’s intuitive interface allows
      you to effortlessly navigate through years of financial data, visualize trends, and uncover insights without the
      usual headache. Whether you’re an experienced investor or just starting out, this tool simplifies the process,
      making financial analysis accessible and easy to understand.
    </p>
  </div>

  <div class="companies">
    <a routerLink="/search">Look at other stocks</a>
    <div class="logos">
      <div>
      <img src="assets/image.png"/>
      <img src="assets/image-6.png"/>
      <img src="assets/image-3.png"/>
      </div>
      <img src="assets/image-2.png"/>
      <img src="assets/image-4.png"/>
      <img src="assets/image-5.png"/>
    </div>
  </div>
</div>
